<!DOCTYPE html>
<html>
  <head>
    <title>BharatValuator</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", type: "module", "data-turbo-track": "reload" %>
  </head>

  <body>
    <div className="bg-white dark:bg-gray-900 text-gray-900 dark:text-white p-4">
      Dark mode supported content
    </div>

    <%= yield %>
  </body>
</html>
